@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
    background: url(../assets/background_image.png)
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.mask1 {
    background-color: rgba(0, 0, 0, 0.9);
    mask-image: linear-gradient(rgba(0, 0, 0, 0.942), transparent);
  }
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.display-4 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: -11px;
}
.lead {
    font-size: 22px;
    text-align: center;
    font-weight: 900;
}
.survey-hero-wrapper {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-col {
    max-width: 1050px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 100%;
}
.form-hero-container {
    max-width: 950px;
    margin-left:auto;
    margin-right: auto;
    justify-content: center;
    height: auto;
    padding: 20px;
    background-color: black;
    opacity: 0.8;
    color: white!important;
}
.form-control {
    width: 90%;
    padding: 12px;
    color: black;
    margin-bottom: 7px;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.grid-row {
    display: grid;
    grid-template-columns: auto auto;
    grid-area: auto;
    align-items: center;
}
.grid-row > div {
    margin: 30px;
}
.btn {
    cursor: pointer;
    border: 1px solid blue;
    padding: 9px;
}
.btn-primary {
    color: white;
    background-color: blue;
    border-radius: 5px;
}
@media(max-width: 992px) {
    .grid-row {
        display: grid;
        grid-template-columns: auto;
        grid-area: auto;
    }
    .grid-row > div {
        margin: 3px;
    }
    .form-control {
        width: 90%;
        padding: 12px;
        color: black;
        margin-bottom: 7px;
    }
}
