@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.navbar {
    padding: 3px;
    background-color: blue;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
}
.nav-items-left {
    display: flex;
    justify-content: start;
    width: 70%;
}
.nav-items-right {
    display: flex;
    justify-content: end;
    width: 30%;
    padding-right: 40px;
}
li.nav-item {
    list-style: none;
}
a.nav-link {
    text-decoration: none;
    color: white;
    margin: 9px;
}
* {
    box-sizing: border-box;
}
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
}
.img-fluid {
    width: 100%;
    max-height: 450px;
    min-height: 300px;
}
.text-center {
    text-align: center;
}
.mb-2 {
    margin-bottom: -20px;
}
.col {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.text-muted {
    font-size: 17px;
    color: dimgrey;
}
.display-4 {
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: -17px;
}
.mt-7 {
    margin-top: 120px;
}
.my-5 {
    margin: 50px auto 50px auto;
}
a.btn {
    text-decoration: none;
    font-size: 17px;
}
.btn-outline-primary {
    border: 1px solid blue;
    border-radius: 17px;
    padding: 7px;
}
.btn-outline-primary:hover {
    background-color: blue;
    color: white;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 886px) {
    .flex-container {
        flex-direction: column-reverse;
    }
}